footer {
  margin-top: 12vh;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;

  padding: 2vh 3.5vw;

  background-color: rgba(129, 133, 174, 0.15);
  border: none;
  border-top: 1px solid rgba(136, 139, 140, 0.05);

  backdrop-filter: blur(6px);
  z-index: 2;
}


.footer_name_plate {
  justify-self: start;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E6E4ED;
  border: none;
  border-radius: 1.1vh;
  padding: 0px 1vw;

  color: rgba(68, 47, 75, 0.90);
  font-family: 'Poiret One';
  font-size: clamp(1px, 1.25vw, 100px);

  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.40);
}


.footer_lab_text_plate {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E9DDFF;
  border: none;
  border-radius: 1.35vh;
  padding: 0px 2vw;

  color: rgba(68, 47, 75, 0.90);
  font-family: 'Poiret One';
  font-size: clamp(1px, 1.70vw, 100px);

  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.40);
}


.footer_socials_plate {
  justify-self: end;
  display: flex;
  justify-content: space-between;
  column-gap: 0.85vw;
  align-items: center;  
  
  background-color: #E6E4ED;
  border: none;
  border-radius: 1.1vh;
  padding: 1.25vh 1.25vw;

  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.40);
}


.footer_social_icon {
  aspect-ratio: 1 / 1;
  width: 2vw;
}

.footer_discord_button,
.footer_telegram_button,
.footer_youtube_button,
.footer_github_button {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  padding: 0.5vh;
  border-radius: 0.8vw;

  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.40);
  cursor: pointer;
  transition: all 0.15s;
}

.footer_discord_button {
  border: 1px solid #6E71FF;
}

.footer_telegram_button {
  border: 1px solid #578FFF;
}

.footer_youtube_button {
  border: 1px solid #FF1616;
}

.footer_github_button {
  border: 1px solid #272525;
}


.footer_discord_button:hover {
  background-color: #6E71FF;
  border-color: transparent;
}
.footer_discord_button:hover .discord_icon_path { 
  fill: #E6E4ED;
}

.footer_telegram_button:hover {
  background-color: #578FFF;
  border-color: transparent;
}
.footer_telegram_button:hover .telegram_icon_path { 
  fill: #E6E4ED;
}

.footer_youtube_button:hover {
  background-color: #FF1616;
  border-color: transparent;
}
.footer_youtube_button:hover .youtube_icon_path { 
  fill: #E6E4ED;
}

.footer_github_button:hover {
  background-color: #272525;
  border-color: transparent;
}
.footer_github_button:hover .github_icon_path { 
  fill: #E6E4ED;
}