.promo_blocks_grid {
  width: 90%;
  margin: 0px auto;

  display: grid;
  grid-template: repeat(2, auto) / 1.25fr 2fr;
  column-gap: 5vw;
  row-gap: 6.5vw;
}
@media screen and (max-width: 920px) {
  .promo_blocks_grid {
    width: 75%;
    grid-template: repeat(3, auto) / auto;
    grid-auto-flow: column;
    row-gap: 5vw;
  }
}



.advertisement_section_background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  grid-area: 1 / 1 / span 1 / span 1;
  background-color: rgba(251, 248, 255, 0.05);
  border-radius: 3vw;

  backdrop-filter: blur(2px);
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.20);
  padding: 2vw;
}

.advertisement_section_foreground {
  display: flex;
  flex-direction: column;
  row-gap: min(3.5vh, 1.5vw);
  align-items: center;
  justify-content: top;

  width: 100%;
  height: 100%;
  padding: 2vh;
  box-sizing: border-box;

  background-color: rgba(251, 248, 255, 0.025);
  border-radius: 2vw;
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.125);
  backdrop-filter: blur(2px);
}





h3 {
  font-family: Unbounded;
  color: #F7E6FF;
  font-size: clamp(8px, 2.4vw, 100px);
  font-weight: 400;
  margin: 0px;
  text-align: center;
}


.advertisement_content_bottom_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  row-gap: min(5vh, 2vw);
}
@media screen and (max-width: 920px) {
  .advertisement_content_bottom_section {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: min(5vh, 2vw);
  }
}


.advertisement_section_text {
  width: 75%;
  font-family: Unbounded;
  font-size: clamp(6px, 1.25vw, 100px);
  font-weight: 200;
  color: rgba(246, 246, 246, 0.7);
}

.gdz_image {
  width: 12vw;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  object-position: center;

  border: none;
  border-radius: 2vw;

  box-shadow: 0px 0px 0.75vw 0.75vw rgba(255, 255, 255, 0.25),
              0px 0px 0.4vw 0.4vw rgba(0, 0, 0, 0.15);
}









.reasons_section_background {
  display: flex;
  justify-content: center;
  align-items: center;

  grid-area: 1 / 2 / span 1 / span 1;
  background-color: rgba(251, 248, 255, 0.05);
  border-radius: 3vw;

  backdrop-filter: blur(2px);
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.20);
  padding: 2vw;
}
@media screen and (max-width: 920px) {
  .reasons_section_background {
    grid-area: 2 / 1 / span 1 / span 1;
  }
}

.reasons_section_foreground {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  row-gap: min(3.5vh, 1.5vw);

  width: 100%;
  height: 100%;
  padding: 2vh;
  box-sizing: border-box;

  background-color: rgba(251, 248, 255, 0.025);
  border-radius: 2vw;
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.125);
  backdrop-filter: blur(2px);
}


ol {
  width: 85%;
  padding: 0px;
  margin: 0px;
}

li {
  color: rgba(246, 246, 246, 0.70);
  font-family: Unbounded;
  font-weight: 200;
  font-size: clamp(6px, 1.25vw, 100px);
  margin: 0px;
}





.reviews_section_background {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  row-gap: 2vh;
  column-gap: 2vw;

  grid-area: 2 / 1 / span 1 / span 2;
  background-color: rgba(251, 248, 255, 0.05);
  border-radius: 3vw;

  backdrop-filter: blur(2px);
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.20);
  padding: 2vw;
}
@media screen and (max-width: 920px) {
  .reviews_section_background {
    grid-area: 3 / 1 / span 1 / span 1;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: column;
  }
}
@media screen and (max-width: 640px) {
  .reviews_section_background { 
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    grid-auto-flow: column;
  }
}




.review_title_foreground {
  grid-area: 1 / 1 / span 1 / span 4;
  width: 100%;
  padding: 1.75vh 0px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(251, 248, 255, 0.025);
  border-radius: 2vw;
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.125);
  backdrop-filter: blur(2px);
}
@media screen and (max-width: 920px) {
  .review_title_foreground {
    grid-area: 1 / 1 / span 1 / span 2;
  }
}
@media screen and (max-width: 640px) {
  .review_title_foreground {
    grid-area: 1 / 1 / span 1 / span 1;
  }
}


.review_section_foreground {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;

  background-color: rgba(251, 248, 255, 0.015);
  border-radius: 2vw;
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(2px);

  padding: 2vh;
}
@media screen and (max-width: 920px) {
  .review_section_foreground {
    width: 80%;
    margin: 0px auto;
  }
}




h4 {
  font-family: Unbounded;
  color: rgba(246, 246, 246, 0.85);
  font-size: clamp(8px, 1vw, 100px);
  font-weight: 400;
  margin: 0px;
  padding-bottom: 1.75vh;
  text-decoration: underline;
  text-underline-offset: 0.5vh;
}


.review_section_text {
  font-family: Unbounded;
  font-size: clamp(4px, 0.8vw, 100px);
  font-weight: 200;
  color: rgba(246, 246, 246, 0.7);
}